body{
	font-family: Arial, Helvetica, sans-serif;
}
.torero {
  color: black;
  margin-left: 10px;
}
.bigDay {
  padding: 0 8px 0 7px;
  display: inline-block;
  background-color: #9A2A2A;
  color: white;
}
.DayOfTheWeek {
  padding: 0 8px 0 8px;
  display: inline-block;
  background-color: #9A2A2A;
  color: white;
}
.procedencia {
  width: 50px;
  height: 1px;
}
.ver {
  width: 40px;
  margin-right: 10px;
}
a{
  color:black;
}
p {
  margin-left: 50px;
}
span {
  display: inline-block;
  margin-left: 10px;
}