body{
	font-family: Arial, Helvetica, sans-serif;
}
.torero {
  color: black;
  margin-left: 10px;
}
.toreroImage {
  width: 40px;
}
.tvImage {
  width: 40px;
}
.bigImage {
  width: 300px;
}
.bigDay {
  width: 40px;
  text-align: center;
  margin-right: 7px;
  display: inline-block;
  background-color: #9A2A2A;
  color: white;
}
.DayOfTheWeek {
  padding: 0 8px 0 8px;
  display: inline-block;
  background-color: #9A2A2A;
  color: white;
}
.procedencia {
  width: 50px;
  height: 1px;
}
.ver {
  width: 40px;
  margin-right: 10px;
}
.hierroImage {
  width: 40px;
}
a{
  color:black;
}
span {
  display: inline-block;
  margin-left: 10px;
}
.space {
  margin-left: 50px;
}